body {
    width: 80%;
    max-width: 940px;
    margin: 0 auto 0 auto;
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #3D3D3D;
}

body img {
    margin-top: 1rem;
}

.titulo {
    padding: 10px;
    font-size: 32px;
    background-color: #E1EDF2;
}

p {
    text-align: justify;
}

.subtitulo {
    border-bottom: 2px solid black;
}

figure {
    max-width: 100%;
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
}

figure img {
    width: inherit;
    height: inherit;
}

figcaption {
    margin-top: 10px;
}

.matriz-musicdot {
    width: auto;
    margin: 0 auto 0 auto;
}

.matriz-musicdot img {
    width: 100%;
}

.familia-tupfeln {
    width: 550px;
    float: right;
}

.familia-tupfeln img {
    width: 100%;
}

.figure img {
    width: 100%;
}

.contato__subtitulo {
    display: inline;
    ;
}

.contato__secao {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

.contato__secao--telefone {
    margin-left: 0px;
}

.contato__info {
    margin: 16px 0 24px;
    padding-left: 32px;
}

.contato__info-titulo,
.contato__info-descricao {
    display: inline;
}

.contato__info-descricao {
    margin-left: 10px;
}

.rodape {
    padding: 0 0 1.75em 0;
    font-size: 1.1rem;
    text-align: center;
}

.rodape__logo {
    width: 6rem;
}

.rodape__copyright {
    display: inline;
    margin-left: 1em;
}

@media (max-width: 1040px) {
    .familia-tupfeln {
        width: auto;
        float: none;
        margin: 0 auto;
    }
}

@media (max-width: 446px) {
    body img {
        width: 100%;
    }

    .titulo {
        font-size: 1.8em;
        text-align: center;
    }

    .contato__subtitulo {
        display: block;
        margin-bottom: 0;
    }

    .contato__info {
        padding-left: 5px;
        font-size: .92em;
        border-left: 2px solid lightgray;
    }

    .contato__secao--telefone {
        margin-left: 0;
    }

    .rodape {
        font-size: .92em;
    }
}