body {
    width: 940px;
    margin: 0 auto 0 auto;
    font-family: "Helvetica", "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #3D3D3D;
}

.titulo {
    padding: 10px;
    font-size: 32px;
    background-color: #E1EDF2;
}

.subtitulo {
    border-bottom: 2px solid black;
}

figure {
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
}

figure img {
    width: inherit;
    height: inherit;
}

figcaption {
    margin-top: 10px;
}

.matriz-musicdot {
    width: 550px;
    margin: 0 auto 0 auto;
}

.familia-tupfeln {
    width: 275px;
    float: right;
}

.figure img {
    width: 100%;
}

.contato__subtitulo {
    display: inline;;
}

.contato__secao {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
}

.contato__secao--telefone {
    margin-left: 32px;
}

.contato__info {
    margin: 16px 0 24px;
    padding-left: 32px;
}

.contato__info-titulo,
.contato__info-descricao {
    display: inline;;
}

.contato__info-descricao {
    margin-left: 10px;
}

.rodape__logo {
    width: 6rem;
}

.rodape__copyright {
    display: inline;
    margin-left: 1em;
}